@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  /* background-color: red; */
  font-family: 'Roboto', sans-serif;
  
}

header {
  color: black;
  /* background: linear-gradient(to right top, #0c5fdb, #56CFE1); */
  position: absolute;
  top: 2%;
  width: auto;
}

header img {
  width: 100px;
}

.card{
  height: 900px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
  margin: 2%;
  border-radius: 5%;
}

.realHeader {
  width: 100%;
  justify-content: center;
  align-items: center;
}


.api, header {
  justify-content: center;
  align-items: center;
  background-color: red;
  /* width: 100%; */
}

